

/* slideing side menu  */
@media only screen and (min-width:767px) {
    .left-part.icon-section {
    width: 75px;
}
.left-part ul li span {
    white-space: nowrap;
}
.left-part,.right-part{
    transition: all .1s;
}
.side-head{
    height: 80px;
}

.left-part ul .menu-item {
    white-space: nowrap;
}
.left-part.icon-section.icon-section .menu-items .menu-item a span {
    display: none;
}

.left-part.icon-section ul .menu-item {
    margin: 5px 15px 0 15px;
}
.left-part.icon-section .side-logo a img {
    display: none;
}
.icon-section .side-head .side-logo a {
    display: block;
    height: 80px;
    background: url(../assets/images/e-logo.png) no-repeat center;
    background-size: 100%;

}

.icon-section .footer {
    display: none;
}
.right-part.icon-section {
    margin-left: 75px;
}
}


@media only screen and  (max-width:1440px){
    .card-section {
        min-width: 245px;
        max-width: 50%;
    }   
    
}
@media only screen and (max-width:1367px) {
    .left-part .menu-items .menu-item a {
        font-size: 14px;
    }
    .login-right{
        width: 440px;
    }
    .left-part{
        width: 285px;
    }
    .right-part{
        margin-left: 285px;
    }
    .report-inner-section li {
        padding: 10px 18px 10px 12px;
    }
    .report-inner-section li input {
        margin-right: 10px;
    }
    .chart-close-icon span {
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
    }
    .chart-close-icon span.chat-active{
        background:url(../assets/images/msg-frame.png);
        background-position: center -2px;
        background-size: 60px 60px;
        background-color: #4472C4;
    }
    .chart-close-icon span{
        background:url(../assets/images/cross-popup-img.png);
        background-position: center ;
        background-size: 60px 60px;
        background-color: #4472C4;


        
    }
    .chart-close-icon {
        transform: translate(10px, 10px);
    }
    .logo-login {
        width: 285px;
        margin: auto;
        max-width: 90%;
    }
    .menu-item {
        margin: 10px 15px 0 17px;
    }
    .report-inner-section {
        margin: 0 17px;
    }
    .sending-msg,.res-msg{
        padding: 5px 0;
    }
    .res-msg p,.sending-msg p{
        margin-bottom: 0;

    }
    .edit-section>h3 {
        font-size: 14px !important;
        line-height: 20px;
    }
    
}
@media only screen and  (max-width:1184px){
     .sub-plan {
        width: 400px;
        max-width: 90%;
        margin: auto;
        margin-bottom: 20px;
        min-width: 280px;
    }
}
@media only screen and  (max-width:1530px) and (min-width:1116px){
    .customers-details:nth-child(3){
        order: 2;
    }
    .customers-details:nth-child(2){
        order: 3;
    }
}
@media only screen and  (max-width:1560px) and (min-width:1150px){
    .card-section {
        width: calc(20% - 10px);
        max-width: unset !important;
        min-width: unset !important;
        margin-right: 10px !important;
        padding: 20px 6px !important;
    }
    .plan-card-header{
        padding: 30px 12px 40px;

    }
    
    .card-section-header {
        justify-content: space-between;
    }
    .logo-login {
        width: 285px;
        margin: auto;
        max-width:90%
    }
    
    .robot-section {
        margin: 5px 10px 10px 0;
    }
    .login-right {
        padding: 10px 25px 0px 25px;
    }
    .profile-form.size {
        height: 730px;
        overflow: auto;
    }
   
}

@media only screen and  (max-width:993px){
    .banner-section-login{
        display: none;
    }
    .login-right{
        margin: auto;
    }
    .edit-merchant{
        grid-template-columns: auto auto ;
        grid-gap: 10px;
    }
    .edit-merchant-inner-section:last-child {
        grid-area: 1 / 2 / span 3 / span 1;
    }
    .login-header {
        background: linear-gradient(90deg, #4472C4 71%, #ECF3FF 29%);

    }
    .card-section:nth-last-child(1) {
        margin-right: 40px;
    }
}
@media screen and (max-width: 767px) {
    .page-name h3 {
        margin-left: 15px !important;
    }
    .hamburger-menu svg {
        width: 30px;
        height: 30px;
    }
    .bluecomm-table.template-2 thead tr th:first-child{
        text-align: center;
        padding-left: unset;
    }

    .mob-logo {
        display: block;
        margin: 10px 0;
        text-align: center;
    }

    .left-part {
        width: 0;
        left: -300px;
        box-shadow: 20px 4px 20px rgba(0, 0, 0, 0.05);
    }

    .right-part {
        width: 100%;
        left: 0%;
        margin-left: 0;
        min-height: 100vh;
        height: unset;
    }

    .hamburger-menu {
        display: block;
    }

    .left-part.open {
        width: 280px;
        left: 0;
        z-index: 1111;
        transition: all 0.2s;
        box-shadow: 20px 4px 20px rgba(0, 0, 0, 0.05);
        border-radius: 0 5px 0 0;
    }
    .left-part .menu-items .menu-item a {
        padding: 10px 5px;
    }
    .menu-item{ 
        margin: 10px 10px 0 10px;
    }
    .close1 {
        background: #4371c3;
        width: 25px;
        height: 25px;
        display: flex !important;
        align-items: center;
        border-radius: 50%;
        justify-content: center;
    }

    .close1 {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        transition: all 0.2s;
    }

    .overflow {
        overflow: hidden;
        height: 100vh;
    }

    .left-part .menu-items {
        height: calc(100vh - 148px);
        overflow-y: auto;
        margin-top: 30px;
    }
    .left-part.open {
        height: calc(100vh - 78px);
    }
    .main-page{
        height: calc(100vh - 158px);
        min-height: unset;
    }
    .left-part,.right-part{
        height: calc(100vh - 78px);
        min-height: unset;
    }
    .dashboard{
        min-height: unset;
        height: calc(100vh - 146px);

    }
    .side-logo {
        display: none;
    }

    .breadcrumb-nav,
    .profile {
        margin: 10px;
    }

    .profile {
        margin:  0 ;
    }

    .breadcrumb-nav {
        margin: 10px;
    }

    .right-part {
        margin-left: unset !important;
        padding-top: 0;
    }

    /* new  */
    .sub_merchants, .manage_customers, .reports, .common_Manage_subMerchant {
        margin: 10px;
    }  
    .invoice-templates-section {
        margin: auto;
        margin-top: 20px;
        width: 100%;
    } 
    .profile-details {
        position: absolute;
        top: 78px;
        background: #4472c4;
        padding: 10px;
        right: 1px;
        display: none;
    }
    
    .profile-name span {
        display: none;
    }
    .edit-merchant-inner-section:last-child {
    grid-area: unset;
    height: 260px;
}
.edit-merchant{

    grid-template-columns: auto ;
    grid-gap: 10px;
}
.page-name h3{
    display: none;
}
button.btn-close.large-img-btn {
    position: absolute;
    top: -55px;
    right: 2px;
}

}
@media only screen and  (max-width:576px){
    .card-section {
        margin: 10px auto !important;
        width: 43vw;
    }
    .customers-details-inner p:first-child{
        width: 130px;
    }
    .plan-card-header{
        padding: 30px 14px 40px;
    }
}
@media only screen and (max-width:426px) {
    .login-right{
        padding: 15px;
    }
    .robot-checkox p{
        margin-right: 20px;
    }
    .profile-section{
        padding: 15px 15px 120px;
    }
    .section.form-section-profile{
        padding: 15px;
    }
    section.form-section-profile{
        padding: 0;
    }
    .billing-details{
        width: 50%;
    }
    /* .customers-details-inner p:last-child{
        width: 100%;

    } */
    .edit-section {
        padding: 8px;
    }
    section.inner-section {
        padding: 15px;
    }
    
    .input-part label {
        padding: 10px 0 5px 0;
    }
    
}


/*Suriya Meena Start */
@media screen and (max-width: 1200px) {
    .manage_customer_show_I {
        margin-left: 11px;
    }

    .d-flex.report_input_group {
        flex-wrap: wrap;
    }

    #reports_search1_container,
    #reports_search2_container,
    #reports_search3_container,
    #reports_search4_container,
    #transaction_report .reports_search_container,
    #transaction_report .reports_search_container_btn {
        width: 45%;
        margin-left: unset;
    }

    #reports_search1_container,
    #reports_search2_container,
    .reports_search_container:first-child,
    .reports_search_container:nth-child(2) {
        margin-bottom: 10px;
    }

    .reports_search_container:first-child,
    .reports_search_container:nth-child(3) {
        margin-right: 20px;
    }

    #reports_search4_container button,
    #transaction_reports_search4_container button {
        padding: 11.5px 15px;
        width: 100%;
    }

    #reports_search3 {
        padding: 20px;
    }

    /* Statical Report Start */


    #static_report .reports_search_container,
    #static_report .reports_search_container,
    #static_report_search4_container {
        width: 75%;
        margin-left: unset;
    }

    #static_report_search4_container button {
        width: 100%;
        height: 47px;
    }

    /* Statical Report End */
}

@media screen and (max-width: 992px) {
    .manage_customers_head {
        flex-wrap: wrap;
    }

    .manage_customers_main_head {
        /* width: 100%; */
        margin-bottom: 10px;
    }

    .manage_customer_show_II nav {
        margin-top: 10px;
    }

    .manage_customers .pagination .page-link,
    .reports .pagination .page-link,
    .common_Manage_subMerchant .pagination .page-link {
        padding: 5px;
        text-align: center;
    }

    #reports_search1_container,
    #reports_search2_container,
    #reports_search3_container,
    #reports_search4_container,
    #transaction_report .reports_search_container,
    #transaction_report .reports_search_container_btn {
        width: 100%;
        margin-left: unset;
        margin-right: unset;
    }

    #reports_search3_container,
    .reports_search_container:nth-child(3) {
        margin-bottom: 10px;
    }

    #transaction_report .reports_search_container::after,
    #static_report .reports_search_container::after {
        right: 8px;
    }

    #static_report .reports_table_responsive_II {
        padding-left: 20px;
    }

    #add_edit_roles .common_Manage_subMerchant .table tr td {
        padding: 10px;
    }

}

@media screen and (max-width: 768px) and (min-width: 576px) {
    .sub_merchant_head {
        flex-wrap: wrap;
    }

    .sub_merchant_head div {
        /* width: 100%; */
        margin-bottom: 10px;
    }

    .sub_merchants,
    .manage_customers,
    .reports,
    .common_Manage_subMerchant {
        margin: 10px;
    }

    #add_edit_roles.common_Manage_subMerchant {
        margin: unset;
    }

    .sub_merchants .table tr th,
    .sub_merchants .table tr td,
    .manage_customers .table tr th,
    .manage_customers .table tr td,
    .common_Manage_subMerchant .table tr th,
    .common_Manage_subMerchant .table tr td {
        padding: 10px;
    }

    .manage_customers_main_head {
        width: unset;
        margin-bottom: unset;
    }

    #customer_manage_search {
        width: 200px;
        padding: 12px 30px 12px 5px;
    }

    #reports_search1,
    #reports_search2,
    #reports_search3,
    #transaction_reports_search1,
    #transaction_reports_search3,
    #transaction_report #transaction_reports_search2_container .form-select,
    #static_report_search1,
    #static_report_search3,
    #static_report_II_search3 {
        padding: 12px 30px 12px 5px;
    }

    .customer_manage_search_container {
        width: 200px;
    }

    #customer_manage_search::placeholder,
    #static_report_search1::placeholder,
    #static_report_search3::placeholder,
    #static_report_II_search3::placeholder {
        font-size: 12px;
    }

    .customer_manage_search_container::after,
    .common_Manage_subMerchant .reports_search_container::after {
        right: 5px;
    }

    #manage_customer_show_no,
    #list_report_show_no,
    #static_report_show_no {
        padding: 3px 3px 3px 4px;
        width: 50px;
    }

    #reports_search1_container,
    #reports_search2_container,
    #reports_search3_container,
    #reports_search4_container,
    #transaction_report .reports_search_container,
    #transaction_report .reports_search_container_btn {
        width: 45%;
        margin-left: unset;
    }

    #reports_search1_container,
    #reports_search2_container,
    .reports_search_container:first-child,
    .reports_search_container:nth-child(2) {
        margin-bottom: 10px;
    }

    #reports_search1_container,
    #reports_search3_container,
    #transaction_report .reports_search_container:first-child,
    #transaction_report .reports_search_container:nth-child(3) {
        margin-right: 20px;
    }

    #reports_search4_container button,
    #transaction_reports_search4_container button {
        padding: 13px 15px;
        /* width: 100%; */
    }

    #reports_search1::placeholder,
    #reports_search2::placeholder,
    #reports_search3::placeholder,
    #transaction_reports_search1::placeholder,
    #transaction_reports_search3::placeholder {
        font-size: 12px;
    }

    /* Statical Report Start */

    #static_report .reports_search_container,
    #static_report .reports_search_container,
    #static_report_search4_container {
        width: 35%;
    }

    #static_report_search4_container {
        width: 90px;
        height: 47px;
    }

    /* Statical Report End */

    /* admin Popup start */

    .modal-body p {
        padding: 20px;
    }

    /* admin Popup end */

    #transaction_reports_search3_container::before,
#reports_search3_container::before{
        left: 5px;
    }

#transaction_reports_search3_container::before,
#reports_search3_container::before{
        font-size: 12px;
    }
}





@media only screen and (max-width:576px) {
    #transaction_reports_search3_container::before,
    #reports_search3_container::before{
            font-size: 12px;
        }
    .sub_merchants,
    .manage_customers,
    .common_Manage_subMerchant {
        margin: 10px;
    }
    #add_edit_roles .modal-content,
    #roles .modal-content{
        width: 100%;
    }

    #add_edit_roles.common_Manage_subMerchant {
        margin: unset;
    }

    .sub_merchants .table tr th,
    .sub_merchants .table tr td,
    .manage_customers .table tr th,
    .manage_customers .table tr td,
    .common_Manage_subMerchant .table tr th,
    .common_Manage_subMerchant .table tr td {
        padding: 10px;
    }

    #reports_search1::placeholder,
    #reports_search2::placeholder,
    #reports_search3::placeholder,
    #transaction_reports_search1::placeholder,
    #transaction_reports_search3::placeholder,
    #static_report_search1::placeholder,
    #static_report_search3::placeholder,
    #static_report_II_search3::placeholder {
        font-size: 12px;
    }

    .modal-body p {
        padding-left: 20px;
        padding-right: 20px;
    }

    #add_edit_roles .modal-content,
    #roles .modal-content{
        /* width: 100%; */
    }
}

@media screen and (max-width: 425px) {

    .sub_merchant_head,
    .manage_customers_head {
        flex-wrap: wrap;
    }

    .sub_merchant_head div,
    .manage_customers_main_head {
        /* width: 100%; */
        margin-bottom: 10px;
    }

    #customer_manage_search {
        width: 200px;
        padding: 12px 30px 12px 5px;
    }

    #reports_search1,
    #reports_search2,
    #reports_search3,
    #transaction_report #transaction_reports_search2_container .form-select,
    #transaction_reports_search1,
    #transaction_reports_search3,
    #static_report_search1,
    #static_report_search3,
    #static_report_II_search3 {
        padding: 12px 30px 12px 5px;
    }


    .customer_manage_search_container {
        width: 200px;
    }

    #customer_manage_search::placeholder {
        font-size: 12px;
    }

    .customer_manage_search_container::after,
    .common_Manage_subMerchant .reports_search_container::after {
        right: 5px;
    }

    .manage_customers .pagination .page-link {
        width: unset;
        padding: 5px;
        text-align: center;
    }

    /* Statical Report Statrt */

    #static_report .reports_search_container,
    #static_report .reports_search_container,
    #static_report_search4_container {
        width: 100%;
        margin-right: unset;
    }

    /* Statical Report End */

    /*admin popup start */

    .modal-footer div {
        height: 235px;
        width: 275px;
    }
    #transaction_reports_search3_container::before,
    #reports_search3_container::before{
        left: 5px;
        font-size: 12px;
    }

    /*admin popup End */


    
}

/*Suriya Meena end */



/* ---------janardani start ---------*/
/* custom module side page start */
@media only screen and (min-width:1439px)and (max-width:1920px) {
    .container{
        max-width: 1580px;
        width: 100%;
    margin-right: auto;
    margin-left: auto;
    }
  
}
@media only screen and (max-width:767px) {
    .slide-head-custom {
        flex-direction: column;
       
    }
}
@media only screen and (max-width:374px) {
    .slide-head-para {
        font-size: 14px !important;
    }
}
@media only screen and (max-width:425px) {
    .genterate-invoice {
        margin-bottom: 100px;
    }
    .msg-frame-div{
        bottom: 14px;
    }
}
@media only screen and (max-width:500px) {
    .modal-dialog.merchat-chat
    {
        right: unset;
        left: unset;
    }
}
@media only screen and (max-width:449px) {
    .msg-frame-div {
        right: 2%;
    }
    .chat-poopup {
        right: 2%;
    }
}

/* custom module side page end */

/* ---------janardani end ---------*/

/*------------ Super Admin Module Start -----------*/

@media screen and (max-width:576px) {

    /* Notification Popup Start */
    /* .notif_main {
        width: 370px;
    } */


    .notif_content_container>.notif_content.common_notif_flex {
        flex-wrap: wrap;
    }

    .notif_content.common_notif_flex>div:last-child {
        margin-top: 10px;
        width: 100%;
    }

    .notif_content.common_notif_flex>div:last-child>.inner-section-button {
        width: 60%;
        justify-content: flex-start;
        margin-left: 70px
    }

    .profile_img_container {
        width: 60px;
        height: 60px;
    }

    .notif_close_btn {
        width: 30px;
        height: 30px;
        left: -45px;
    }


    /* Notification Popup End */

    .per_document_container {
        width: 100%;
        margin-left: unset;
    }
}



/*------------ Super Admin Module End -----------*/




@media screen and (max-width:425px) {
    /* Notification Popup Start */

    .common_notif_flex {
        flex-direction: column;
        align-items: center;
    }
    .changing-col{
        flex-direction: row;
    }
    
    .notification-name {
        text-align: center;
    }
    #notification_popup .inner-section-button {
        margin: auto;
        width: 100%;
        justify-content: center;
    }
    /* Notification Popup End */
}
@media screen and (max-width:1400px) {
    .card-section-header.admin-das-card .card-section:nth-last-child(1) {
        margin-right: 40px;
    }
    
}
/* aa */
@media screen and (max-width:767px) {

    .subscriptions {
        padding: 20px 20px 120px;
    }
    }
    @media screen and (max-width:567px) {
    
        .subscriptions {
            padding: 20px 0px;
        }
    }
    @media screen and (max-width:1366px) {
    
    .subscription-tick, .subscription-add{
        width: 50px;
        height: 50px;
        left: calc(50% - 25px);
        bottom: -25px;
    }
    
    }
    @media screen and (max-width:992px) {
    
    .subscriptions {
        padding: 30px 20px;
    }
    }